<h1>Articles listing page</h1>
<button type="submit" name="button"></button>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>DEscription</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.discription %></td>
      <td><%= link_to 'show`', article_path(article) %></td>
      <td><%= link_to 'del  udalit`', article_path(article), method: :delete %></td>

    </tr>
    <% end %>

  </tbody>



</table>
