<h1 class="text-center mt-3">Все Записи Дневника</h1>
<%= render 'article' %>

<p></p>
<%= link_to 'Create new article', new_article_path %>


<div class="carousel-item">
  <img src="..." alt="...">
  <div class="carousel-caption d-none d-md-block">
    <h5>...</h5>
    <p>...</p>
  </div>
</div>
