<h1 class="text-center mt-3">Все Записи Дневника</h1>

<div class="apple_pagination">
    <%= will_paginate @articles, :container => false %>
</div>
<%= render 'article' %>

<p></p>
<div class="apple_pagination" mb-4>
    <%= will_paginate @articles, :container => false %>
</div>
<%= link_to 'Create new article', new_article_path %>


<div class="carousel-item">
  <img src="..." alt="...">
  <div class="carousel-caption d-none d-md-block">
    <h5>...</h5>
    <p>...</p>
  </div>
</div>
