<h1>Тестовая страничка Кирилла</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


<div>
    <aside>
<img src="img/kirilll.jpeg" alt="">

    </aside>
        <h1>Kirill Tolstenev</h1>
        <h2>model</h2>
        <H2>28 АПРЕЛЯ 2010</H2>
        <Hr></Hr>
        <H1>УВЛЕЧЕНИЯ</H1>
        <ul>
<li>
        <h3>
            занимаюсь танцэми
        </h3>
</li>
<li>
    <h3>
        играю на гитаре
    </h3>
</li>

<hr>

        </ul>

        <div>
            <h2>инстограмм</h2>
            <ul>
<li>

            <h3>kirill_tolstenev</h3>


</li>

            </ul>


            <ul>
                <li>

                            <h3>tolstenevkirill</h3>


                </li>

                            </ul>

                <h1>семья</h1>

                <ul>
                    <li>

                        <h3>
                    Мой отец Максим Толстенёв Николаивич

                        </h3>

                    </li>

                </ul>
                <ul>
                    <li>
                        <h3>
                    Моя мама Олеся Толстенёва викторовна
                        </h3>
                    </li>
                </ul>
                <ul>
                    <li>
                      <h3>
                    Мой брат Константин Толстенёв Максимович

                      </h3>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h3>
                        Я Кирилл Толстенёв Максимович
                        </h3>
                    </li>

                </ul>
    </div>

</div>


</body>
</html>
